/************************************ Page Projet ************************************/
body {
  font-family: "Courier New", monospace;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px dashed #000; */
  border: 20px solid; /* taille de la bordure */
  border-image: url("../assets/images/border.svg") 20 round;
  padding: 0.2rem 0.4rem;
  margin: 20px;
  font-size: 1.4rem;
}

.nav-box {
  width: 75%;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.logo-box span a {
  font-size: 1.4rem;
  font-family: "scatterplot-vf", sans-serif;
  font-weight: 500;
}

.nav-box a {
  margin: 0 1rem;
  width: 25%;
  justify-content: space-between;
  text-decoration: none;
  color: #000;
}

.logo-box a {
  text-decoration: none;
  color: #111;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-box a.active {
  text-decoration: underline;
}

/* Contenu */
.project-page {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.project-title {
  font-size: 1.8rem;
  font-weight: 650;
  margin-bottom: 1.5rem;
  font-family: "scatterplot-vf", sans-serif;
}

.project-description {
  margin-bottom: 2rem;
  line-height: 1.6;
}

/* Galerie */
.project-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.project-gallery img {
  width: 100%;
  height: auto;
  max-height: 90vh;
  object-fit: cover;
  display: block;
}

/* Première image pleine largeur */
.project-gallery img.full {
  grid-column: span 2;
}

/* Footer */
.project-footer {
  margin-top: 3rem;
  padding: 2rem 1rem;
  /* border-top: 2px dashed #000; */

  /* border-top: 20px solid; 
  border-image: url("../assets/images/border.svg") 20 round; */
  text-align: center;
}

.project-footer h2 {
  font-family: serif;
  font-size: 2rem;
  margin: 1rem 0;
}

.project-footer p {
  margin: 0.5rem 0;
}

.footer-brand img.logo-boro {
  max-width: 200px; /* ajuste selon ton design */
  height: auto;
  display: block;
  margin: 0 auto; /* centre horizontalement */
}

.project-footer a {
  display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #000;
}

.footer-logo {
  position: fixed;
  left: 0;
  bottom: -5px;
}

.footer-text {
  text-align: right;
}

.logo {
  width: 18vw;
}
