/************************************ Home Page ************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden; /* pas de scroll */
}

body {
  font-family: "Courier New", monospace;
  background: #fff;
  color: #111;
}
/************************************* Header ****************************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px dashed #000; */
  border: 20px solid; /* taille de la bordure */
  border-image: url("../assets/images/border.svg") 20 round;
  padding: 0.2rem 0.4rem;
  margin: 20px;
  font-size: 1.4rem;
}

.nav-box {
  width: 75%;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.logo-box span a {
  font-size: 1.4rem;
  font-weight: bold;
}

.nav-box a {
  margin: 0 1rem;
  width: 25%;
  justify-content: space-between;
  text-decoration: none;
  color: #000;
}

.logo-box a {
  text-decoration: none;
  color: #111;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-box a.active {
  text-decoration: underline;
}

/* Layout principal */
.grid-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
}

.logo {
  border: 20px solid; /* taille de la bordure */
  border-image: url("../assets/images/borderMain.svg") 20 round;
}

.sidebar .logo h1 {
  font-family: serif;
  font-size: 2.6rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  font-family: "scatterplot-vf", sans-serif;
  font-weight: 700;
}

.sidebar .logo h2 {
  font-size: 1rem;
  font-family: "scatterplot-vf", sans-serif;
  margin-bottom: 0.3rem;
}

.sidebar .logo p {
  font-size: 0.85rem;
  color: #777;
}

.nav ul {
  list-style: none;
  margin-top: 25vh;
}

.nav li {
  margin-bottom: 1rem;
}

.nav a {
  text-decoration: none;
  color: #111;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav a:hover {
  color: #777;
}

.illustration img {
  position: absolute;
  bottom: 3vh;
  width: 320px;
  margin-left: 3px;

  /* Animation */
  animation: wiggle 5s infinite;
}

/* Définition de l’agitation */
@keyframes wiggle {
  0%,
  90%,
  100% {
    transform: rotate(0deg);
  }
  92% {
    transform: rotate(-3deg);
  }
  94% {
    transform: rotate(3deg);
  }
  96% {
    transform: rotate(-1deg);
  }
  98% {
    transform: rotate(1deg);
  }
}

/* Gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* espacement de 20px */
  padding: 20px; /* pour respirer autour */
  width: 100%; /* prend 100% de la largeur */
  height: 100vh; /* prend toute la hauteur */
  overflow: hidden; /* pas de scroll interne */
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Responsive */
@media (max-width: 1024px) {
  body {
    overflow: auto;
  }
  .Mobile {
    height: 100%;
  }

  .MainPage {
    overflow: hidden;
  }

  .web {
    display: none;
  }

  .logoMobile {
    border: 25px solid; /* taille de la bordure */
    border-image: url("../assets/images/borderMain.svg") 20 round;
    margin: 20px;
  }

  /* Sidebar */
  .sidebarMobile {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    height: 34%;
    margin: 0;
    align-items: center;
  }
  .logoMobile {
    max-width: 600px;
    margin: 0;
    align-items: center;
    text-align: center;
  }

  .navMobile {
    max-width: 600px;
    margin: 0;
    align-items: center;
  }

  .sidebarMobile .logoMobile h1 {
    font-family: serif;
    font-size: 2.6rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    font-family: "scatterplot-vf", sans-serif;
    font-weight: 700;
    text-align: center;
  }

  .sidebarMobile .logoMobile h2 {
    font-size: 1rem;
    font-family: "scatterplot-vf", sans-serif;
    margin-bottom: 0.3rem;
    text-align: center;
  }

  .sidebarMobile .logoMobile p {
    font-size: 0.85rem;
    color: #777;
    text-align: center;
  }

  .navMobile ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 25px;
  }

  .navMobile a {
    text-decoration: none;
    color: #111;
    font-size: 1rem;
    transition: color 0.3s;
  }

  /* Gallery */
  .galleryMobile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px; /* espacement de 20px */
    width: 100%; /* prend 100% de la largeur */
    height: 66%;
    overflow: hidden;
  }

  .gallery-itemMobile {
    overflow: hidden;
  }

  .gallery-itemMobile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
@media (min-width: 1025px) {
  .Mobile {
    display: none;
  }
}

/************************************ Contact Page ************************************/
.contact-page {
  text-align: center;
  margin-top: 5rem;
  font-family: "Courier New", monospace;
}

.contact-page h1 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.contact-page h2 {
  font-weight: bold;
  margin-bottom: 2rem;
}

.contact-page p {
  margin: 0.5rem 0;
}

.contact-page a {
  color: #000;
  text-decoration: none;
}

.contact-page a:hover {
  text-decoration: underline;
}

/* Info page */
.info-page {
  text-align: center;
  margin: 4rem auto;
  max-width: 800px;
  font-family: "Courier New", monospace;
  line-height: 1.6;
}

.info-page h1 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.info-page h2 {
  font-weight: bold;
  margin-bottom: 2rem;
}

.info-page p {
  margin-bottom: 1.5rem;
  font-size: 0.95rem;
  color: #111;
}

/************************************ Work Page ************************************/
.work-page {
  width: 100%;
  height: calc(100vh - 60px);
  overflow: hidden;
  position: relative;
  background: #fff;
}

/* Splide container fixé en bas */
.splide {
  position: fixed !important;
  bottom: 20px;
  left: 20px;
  width: 100%;
  height: 60vh;
  /* padding: 0px 20px 20px 0px; */
}

/* Chaque slide = largeur forcée */
.project {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.project img {
  /* width: 100%; l’image prend 100% de la div .project */
  height: auto;
  max-height: 60vh;
  object-fit: cover;

  align-items: flex-end;
  transition: filter 0.3s ease;
}

/* Responsive */
@media (max-width: 800px) {
  .project {
    width: 100vw; /* en mobile : 1 image = 100% */
  }
}

/* Overlay */
.project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project .overlay span {
  color: #fff;
  font-size: 1.2rem;
  font-family: "Courier New", monospace;
}

/* Hover */
.project:hover img {
  filter: brightness(0.7);
}
.project:hover .overlay {
  opacity: 1;
}
